body {
background-color: white;
}
a,a:hover{
  text-decoration: none;
  color: white;
}

h1,h2,h3,h4,h5,h6,p{
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ItemOverly{
  background-color: rgba(24, 5, 5, 0.7);
  top: 100%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;

}

.Item:hover  .ItemOverly{
  top: 0%;
  opacity: 1;
}


